<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index of Admin</title>
  </head>
  <body style="background-color:black;">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div align="center">
      <fieldset>
        <legend style="color:red;">Admin</legend>
        <button style="color:cyan;background-color:black;" onclick="window.location.href = '/admin/ticket_verify/';">Verify a Ticket</button>
        <br/>
        <hr/>
        <br/>
        <button style="color:cyan;background-color:black;" onclick="window.location.href = '/admin/check_in';">Check in / Scan Ticket </button>
        <br/>
        <hr/>
        <br/>
        <button style="color:cyan;background-color:black;" onclick="window.location.href = '/admin/token/';">Insert Transaction tokens</button>
        <br/>
        <hr/>
        <br/>
        <button style="color:cyan;background-color:black;" onclick="window.location.href = '/admin/delete';">Delete Ticket</button>
        <br/>
        <br/>
        <hr/>
        <button style="color:cyan;background-color:black;" onclick="window.location.href = '/admin/list';">List All Tickets</button>
        <br/>
        <hr/>
        <br/>
        <button style="color:cyan;background-color:black;" onclick="window.location.href = '/admin/tokens';">List All Transaction Tokens</button>
      </fieldset>
      </div>
  </body>
</html>
