<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>check in</title>
  </head>
  <body style="background-color:gray;">
    <br/>
    <br/>
    <form method="POST">
      <div align="center">
        <h1 style="color:pink;">Check in</h1>
      ticket id : <input type="text" name="ticketid">
      <button style="color:black;background-color:green;">Submit</button>
      </div>
      </form>
      <center><p style=color:red;>{{ . }}</p></center>
  </body>
</html>
