<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Delte ticket</title>
  </head>
  <body style="background-color:black;">
    <br/>
    <br/>
    <br/>
    <div align="center">
    <form method="POST">
      <h1 style="color:#00f2ff">Delete a Ticket!</h1>
      <div style="color:#d9c004;">Ticket id: <input type="text" name="ticket" style="background-color:#2e2e2e;color:#ff05ee;" required></input></div>
      <button style="background-color:#1aff00;color:black;">Submit</button>
      </form>
    </div>
    <p style="color:red;">{{ . }}</p>
  </body>
</html>
