<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body style="background-color:black;">
    <br/>
    <br/>
    <br/>
    <div align="center">
    <form method="POST">
      <h1 style="color:#00f2ff">Delete A Tickets!</h1>
      <div style="color:#d9c004;">Name: <input type="text" name="name" style="background-color:#2e2e2e;color:#ff05ee;" required></input></div>
      <div style="color:#d9c004;">Username: <input type="text" name="username" style="background-color:#2e2e2e;color:#ff05ee;" required></input></div>
      <div style="color:#d9c004;">Password: <input type="password" name="password" style="background-color:#2e2e2e;color:#ff05ee;" required></input></div>
      <button style="background-color:#1aff00;color:black;">Submit</button>
      </form>
    </div>
  </body>
</html>
