<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background-color:gray;">
    <div align="center">
      <h1 style="color:pink;">Home Page</h1>
      <div><a href="/register"><button style="background-color:purple;color:cyan;">Register for Tickets</button></a></div>
      <div><a href="/forget"><button style="background-color:purple;color:cyan;">Forget ticket id & Download Private Ticket</button></a></div>
      <div><a href="/admin"><button style="background-color:purple;color:cyan;">Admin</button></a></div>
      <br>
      <div><a href="/download"><button style="background-color:purple;color:cyan;">Download Public Ticket</button></a></div>
  </body>
</html>
