<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background-color:gray;">
    <br/>
    <br/>
    <br/>
    <div align="center">
    <form method="POST">
      <h1 style="color:#00f2ff">Download Public Ticket</h1>
      <div><a href="/single_public"><button style="background-color:purple;color:cyan;">Download Public SINGLES Ticket</button></a></div>
      <div><a href="/couple_public"><button style="background-color:purple;color:cyan;">Download Public COUPLES Ticket</button></a></div>
 
    </form>
    </div>
  </body>
</html>
