<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body style="background-color:black;">
    <br/>
    <br/>
    <br/>
    <div align="center">
    <form method="POST">
      <h1 style="color:#00f2ff">Register For Tickets!</h1>
      <div style="color:#d9c004;">Name: <input type="text" name="name" style="background-color:#2e2e2e;color:#ff05ee;" required></input></div>
      <div style="color:#d9c004;">Username: <input type="text" name="username" style="background-color:#2e2e2e;color:#ff05ee;" required></input></div>
      <div style="color:#d9c004;">Password: <input type="password" name="password" style="background-color:#2e2e2e;color:#ff05ee;" required></input></div>
      <div style="color:#d9c004;">Transaction Token: <input type="text" name="token" style="background-color:#2e2e2e;color:#ff05ee;" required></input></div>
      <div style="color:#d9c004;">Select Ticket Type:  <select name="type"> <option id="S"> Single</option> <option id="C"> Couples</option> </select></div>
      <button style="background-color:#1aff00;color:black;">Submit</button>
      </form>
    </div>
  </body>
</html>
